<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name, 'First Name' %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name, 'Last Name' %>
    <%= form.text_field :last_name %>
  </div>

<!--  <div class="field">-->
    <%#= form.label :photo_url, 'Photo'%>
    <%#= form.text_field :photo_url %>
<!--  </div>-->

<!--  <div class="field">-->
    <%#= form.label :voice_url, 'Voice Sample' %>
    <%#= form.text_field :voice_url %>
<!--  </div>-->

  <div class="field">
    <%= form.label :address_line1, 'Address Line 1' %>
    <%= form.text_field :address_line1 %>
  </div>

  <div class="field">
    <%= form.label :address_line2, 'Address Line 2' %>
    <%= form.text_field :address_line2 %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.select :state, User::STATES.collect {|s| [s["name"], s["abbr"]]}, {:include_blank => true} %>
  </div>

  <div class="field">
    <%= form.label :zip %>
    <%= form.text_field :zip %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
